node_modules/
*.log
*.iml
*.dat
*.db
.idea/
.vscode/
.history/
process.json
config.json
build
.nyc_output
coverage
chapter14/prometheus/docker/grafana-persistence/
!chapter14/prometheus/docker/grafana-persistence/.gitkeep
