<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%=user.account%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>欢迎<%=user.account%>使用此后台</h1>
    <a href="/article">文章管理</a>
  </body>
</html>
